

.fixed_img {
	width: 100%;
	max-height: 850px;
}

.logo_img {
	width: 307px;
	max-height: 106px;
}

.center {
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.App {
	background-color: #ffffff;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	/* margin-left: 2%;
	margin-right: 2%; */

}